@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #E0E0E0;
  font-family: 'Ubuntu', sans-serif;
}

.main {
  height: 55vh;
  margin-bottom: 12rem;
}

h1 {
  color: #fff;
  text-shadow: 3px 3px #547793;
  margin: 2rem auto;
  text-align: center;
}

a {
  text-decoration: none;
}

.container {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 3rem auto;
}

.languages-side {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 1rem auto;
}

.selected-language {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.selected-language select {
  border: none;
  cursor: pointer;
  padding: .5rem .7rem;
  border-radius: .4rem;
  border: 1px solid #C1C9CC;
}

.selected-language select option {
  position: absolute;
  top: 10px;
}

.selected-language select:focus {
  outline: none;
}

.translation-side {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

textarea {
  width: 100%;
  resize: none;
  height: 13rem;
  padding: 0.3rem;
  border: 1px solid #C1C9CC; 
}

textarea[name='input'] {
  border-top-left-radius: .4rem;
}

textarea[name='output'] {
  border-top-right-radius: .4rem;
}

.translateBtn {
  width: 100%;
  cursor: pointer;
  padding: 0.5rem;
  border-bottom-right-radius: .4rem;
  border-bottom-left-radius: .4rem;
  border: none;
}

.details {
  display: flex;
  width: 100%;
  align-items: stretch;
  flex-direction: row;
  justify-content: space-between;
  border-right: 1px solid #C1C9CC;
  border-left: 1px solid #C1C9CC;
  border-bottom: 1px solid #C1C9CC;
  padding: 0.3rem;
  transition: all 1s ease-in-out;
  background-color: #C1C9CC;
}

.details ion-icon {
  color: #4f4f4f;
  font-size: 1.3rem;
  cursor: pointer;
}

.details ion-icon[name="copy-outline"] {
  margin-left: 1rem;
}

.details ion-icon[name="swap-horizontal-outline"] {
  margin-left: 2.3rem;
}

.invisible {
  visibility: hidden;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1.3rem;
  padding: 1rem 3rem;
  background-color: #547793;
}

.copywrite {
  display: flex;
  flex-direction: column-reverse;
  text-align: center;
  color: #E0E0E0;
  text-shadow: 1px 2px #324655;
  font-size: 1.1rem;
}

.media-links {
  display: flex;
  column-gap: 2.3rem;
}

.media-links ion-icon {
  font-size: 1.5rem;
  color: #C1C9CC;
}

@media (max-width: 725px) {
  h1 {
    margin: 1.5rem auto;
  }

  .main {
    height: 75vh;
    margin-bottom: 7rem;
  }

  .container {
    width: 90%;
    flex-direction: row;
    margin: 0 auto;
  }

  .translation-side {
    flex-direction: column;
  }

  .phone-container {
    width: 90%;
    flex-direction: row;
    margin: 0 auto;
    position: relative;
  }

  .detail-side {
    width: 10%;
    height: 28.2rem;
    position: absolute;
    bottom: 0;
    right: 0;
  }

  .details {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-top-right-radius: .4rem;
    border-bottom-right-radius: .4rem;
  }

  .to-side {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .details ion-icon[name="copy-outline"] {
    margin-left: 0;
    margin-top: 1rem;
  }

  ion-icon[name="swap-horizontal-outline"] {
    margin-left: 0;
  }

  .translateBtn {
    padding: 9px 0;
    border-bottom-right-radius: 0;
    border-right: 1px solid #C1C9CC;
    border-left: 1px solid #C1C9CC;
    border-bottom: 1px solid #C1C9CC;
  }
}

@media (max-width: 490px) {
  .to-lang {
    justify-content: flex-end;
  }

  .from-lang {
    justify-content: flex-start;
  }
}
